<ion-view>
	<ion-nav-title>
  		<h1 class="title">Poetry Prototype Manager</h1>
	</ion-nav-title>
 	<ion-content class="home">
		<div class="list">
			<a class="item item-icon-left" href="#/app/images">
				<i class="icon ion-image"></i>
				Manage Images
			</a>
			<a class="item item-icon-left" href="#/app/poetry">
				<i class="icon ion-compose"></i>
				Manage Poetry
			</a>
			<a class="item item-icon-left" href="#/app/users">
				<i class="icon ion-person"></i>
				Manage Users
			</a>
			<a class="item item-icon-left" href="#/app/profiles">
				<i class="icon ion-person"></i>
				Manage Profiles
			</a>
		</div>
	</ion-content>
</ion-view>
