<ion-view view-title="Manage Images">
  <ion-content>
    <div id="verify">
        <div ng-repeat="image in images">
          <div class="img"><img ng-src="{{image.img}}"></div>
          <ul class="list">
            <li class="item">
              Time: {{image.timestamp | date:"MM/dd/yyyy 'at' h:mma"}}
            </li>
            <ion-toggle
                    ng-click="verifyImage(image.$id, image.verified)"
                    ng-model="image.verified" 
                    ng-checked="image.verified">
                    {{image.verified}}
            </ion-toggle>
            <ion-checkbox class="item-checkbox-right" ng-click="delete(image.$id)">Delete</ion-checkbox>
          </ul><br>
        </div>
      <button class="button button-block button-calm" ng-click="scrollTop()">back to the top</button>
    </div>
  </ion-content>

  <form id="footer-input" ng-submit="add(message)">
    <ion-footer-bar keyboard-attach class="item-input-inset">
      <a style="margin:0 auto" class="button button-clear" ng-click="takePicture()">
        <i class="icon ion-camera"> Upload Image</i>
      </a>
    </ion-footer-bar>
  </form>

</ion-view>
