<ion-view>
	<ion-nav-title>
		<h1 class="title">Profiles</h1>
	</ion-nav-title>

	<ion-content class="profiles">
		<!-- {{accounts}} -->
		<ion-list>
      		<ion-item ng-repeat="profile in accounts"
      				  href="#/app/profile/{{profile.$id}}"
					  ng-click="getId(profile.$id)"
      				  class="item item-avatar">
        		<img ng-src="{{profile.face}}">
        		<h2>{{profile.name}}</h2>
        		<p>{{profile.email}}</p>
      		</ion-item>
    	</ion-list>
	</ion-content>
</ion-view>
