<ion-view view-title="Profile">
  <ion-nav-buttons side="right">
      <a id="edit" class="button button-icon icon ion-ios-gear-outline"
         ng-show="visible"
         ng-click="editProfile(profile.name, profile.email)"></a>
      <button id="save" class="button button-clear button-positive"
              ng-hide="visible"
              ng-click="saveEdits(their.name, their.email)">
        save
      </button>
  </ion-nav-buttons>
  <ion-content class="user">
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" ng-src="{{profile.face}}">



        <h2 ng-show="visible">{{profile.name}}</h2>
        <input type="text" ng-hide="visible" ng-model="their.name" value="{{their.name}}">
        <p ng-show="visible">{{profile.email}}</p>
        <input type="text" ng-hide="visible" ng-model="their.email" value="{{their.email}}">

        <p ng-show="profile.founder" class="calm">Founder</p>
        <p ng-show="profile.admin" class="assertive">Admin</p>
        <p class="strike" ng-hide="profile.admin"><s>Admin</s></p>
        <a style="margin:0 auto"
           class="button button-block button-clear button-dark"
           ng-click="$watch(takePicture(profile.$id))">
    			 <i class="icon ion-camera"> Change Profile Picture</i>
    		</a>
      </div>
    </div>

    <div class="manage-profiles" ng-show="profile.founder">
		<h2>Profiles</h2>
		<p>Change Admin status of profiles.</p>
		<ul class="list">
			<ion-toggle
				ng-disabled="user.founder"
				ng-repeat="user in users"
				ng-click="adminStatus(user.$id, user.admin, user.name)"
				ng-model="user.admin" 
				ng-checked="user.admin">
				{{user.name}}
			</ion-toggle>
		</ul>
    </div>

  </ion-content>
</ion-view>
