<ion-header>
    <ion-navbar padding-top color="poetry">
        <button ion-button menuToggle="left" start color="light">
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding ngClass="selectable">

    <ion-card>
        <ion-card-content>
            <p ion-text>
                <span *ngFor="let line of lines | lines">
                    {{line.value}}<br><br *ngIf="formType == 'Prose'">
                </span>
            </p>
        </ion-card-content>

        <ion-row class="cardfooter">
            <ion-col>
                <h2><button ion-button clear (click)="authorPage(userID)" color="email">{{ author }}</button></h2>
                <p ion-text padding>{{ formType }}</p>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-card-header no-padding padding-bottom>
                Keys
            </ion-card-header>
            <h2>Poem Key</h2>

            <p ion-text margin-bottom>{{key}}</p>
            <h2>Author Key</h2>
            <p>{{userID}}</p>
        </ion-item>
    </ion-card>
</ion-content>
