<ion-header>
    <ion-navbar>
        <button ion-button color="secondary" menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        
        <ion-title>
            Verify Poems
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <p>Check the box to verify each poem before it can be viewed in the Poetry App. You can slide left on each item to delete the poem, or you can slide right to view the poem before veifying of deleting the poem.</p>
  
    <ion-list no-padding>
        <div *ngFor="let poem of poems | async">
        <ion-item-sliding *ngIf="poem.verified == false">
            <ion-item>
                <ion-label>
                    <h3>{{poem.title}}</h3>
                    <p><b>{{poem.author}}</b></p>
                </ion-label>
                <ion-checkbox color="dark" checked={{poem.verified}} (click)="verifyPoem(poem)"></ion-checkbox>
            </ion-item>
            <ion-item-options side="left">
                <button ion-button color="danger" (click)="removePoem(poem)">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </button>
            </ion-item-options>
            <ion-item-options side="right">
                <button ion-button color="primary" (click)="viewPoem(poem)">
                    <ion-icon name="open"></ion-icon>
                    View
                </button>
            </ion-item-options>
        </ion-item-sliding>
        </div>
    </ion-list>
</ion-content>
