* {
	margin: 0;
	padding: 0;
  	cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

*:hover {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.user {
	padding-top: 24px;
	padding-left: 8px;
	padding-right: 8px;
}

.manage-profiles {
	padding: 8px;
}

#edit {
	position: absolute;
	right: 0;
}

#save {
	padding-right: 8px;
}


/************* assertive color #ef473a *************/
#save, .strike {
	color: #333;
}

.assertive {
	color: #ef473a !important;
}

.calm {
	color: #11c1f3 !important;
}

.item-body input {
	width: 100%;
}

.item-body input:first-of-type {
	margin-top: 7px;
	font-size: 16px;
	color: #000;
}

.item-body input:last-of-type {
	margin-top: 2px;
	color: #666;
}

#verify {
  color: #333;
  padding: 16px;
}

.profile-status {
	position: absolute;
	right: 16px;
}

.img {
  width: 100%;
}

.img img {
  width: 100%;
}

.list {
	border: 1px solid rgb(221, 221, 221);
	border-top: none;
	margin-top: -5px;
}

.item.item-checkbox {
	margin-bottom: -2px;
}

.profiles {
	padding: 16px;
}

.home, .poetry-list {
	padding: 24px 16px 16px 16px;
}

.form-type-section {
	margin-top: 20px;
}

.form-type {
	font-weight: bold;
}
